body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #efefd0;
    background-color: #24232a;
    font-family: 'Courier New', monospace;
}

header {
    flex-direction: row;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 1.5rem;
}

footer {
    text-align: center;
    padding: 1em;
}

hr {
    width: 40em;
}

.navbar-elem {
    padding-right: 0.8em;
    padding-left: 0.8em;
}

.center {
    max-width: 40em;
    display: flex;
    flex-direction: column;
}

.center h1, h2, h3, h4, h5, h6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a:link {
    color: #5bcefa
}

a:visited {
    color: #910091
}

a:hover {
    color: #f5a9b8
}
