body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #efefd0;
	background-color: #24232a;
	font-family: 'Courier New', monospace;
}

header {
	flex-direction: row;
	padding-top: 1em;
	padding-bottom: 0.5em;
	font-size: 1.5rem;
}

footer {
	text-align: center;
	padding: 1em;
}

hr {
	width: 40em;
}

.navbar-elem {
	padding-right: 0.8em;
	padding-left: 0.8em;
}

.center {
	max-width: 40rem;
	display: flex;
	flex-direction: column;
}

.center h1, h2, h3, h4, h5, h6 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.horiz-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.horiz-container > * {
	margin-left: 0.3em;
	margin-right: 0.3em;
}

code {
	font-size: 110%;
	background-color: #161616;
	color: white;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

.codeblock {
	background-color: #161616;
	color: white;
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

a:link {
	color: #5bcefa;
}

a:visited {
	color: #910091;
}

a:hover {
	color: #f5a9b8;
}
